.line-text {
  display: flex;

  > * {
    display: block;
    padding: 0;
    margin: 0;
  }

  &::before,
  &::after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}
