.table {
  padding: 0;
  table-layout: fixed;
  border: 1px solid grey;

  th.th-column {
    padding: 0 !important;
    vertical-align: text-top;

    label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      padding: 0.3rem;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      &.sort {
        cursor: pointer;

        &-asc {
          border-top-color: black;
        }

        &-desc {
          border-bottom-color: black;
        }
      }
    }
  }

  td.td-column {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
