/* The sidebar menu */
.menu-left {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  background-color: #111; /* Black */
  overflow: hidden auto;
  position: sticky;
  padding: 0;
  min-height: 100vh;
  top: 0;
  left: 0;

  & .toggle-menu-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2rem;
  }

  & .menu-container {
    display: grid;
    align-content: stretch;
    grid-template:
      [row1-start] 'top' 10rem [row1-end]
      [row2-start] 'middle' auto [row2-end]
      [row3-start] 'bottom' 4rem [row3-end];
    height: 100%;

    & .logo-wrapper {
      background-color: $white;
      grid-area: top;
      display: flex;
      justify-content: center;

      & svg,
      img {
        align-self: center;
        object-fit: contain;
        width: 80%;
        height: 50%;
      }
    }

    & .links-container {
      grid-area: middle;
      padding: 3rem 1rem 0 0;

      & a {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        text-decoration: none;
        color: #818181;

        & .badge {
          display: flex;
          align-items: center;
        }

        &.active {
          color: $white;
          border-radius: 0 0.5rem 0.5rem 0;
        }

        &:hover {
          color: #f1f1f1;
        }
      }
    }

    & .footer {
      grid-area: bottom;
      display: flex;
      background-color: #111;
      padding: 0.5rem 1rem;
      justify-content: center;
      gap: 1.5rem;
      cursor: default;
      align-self: flex-end;

      & > * {
        display: inline-flex;
        align-items: center;
        gap: 1.5rem;
        color: $white !important;
      }
    }
  }

  &.closed {
    & .menu-container {
      grid-template-rows: 6rem auto 4rem;
    }

    & .links-container {
      grid-area: middle;
      padding-top: 1rem;

      & a {
        flex-direction: column;
        gap: 0;
        text-align: center;
        font-size: 0.8rem;

        .icon {
          font-size: 1.8rem;
        }

        &:hover {
          background-color: #2f2f2f;
        }
      }
    }
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@include media-breakpoint-down(lg) {
  .menu-left {
    & .links-container {
      padding: 0 !important;
    }
  }
}

@include media-breakpoint-up(xl) {
  .menu-left {
    & a {
      font-size: 18px;
    }
  }
}
