$grid-sizes: (3, 4, 5, 6);

.card-columns {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 0.6rem;
  grid-auto-flow: dense;

  &.grid {
    @for $grid-size from 1 through 6 {
      &-#{$grid-size} {
        grid-template-columns: repeat($grid-size, 1fr);
      }
    }
  }

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  & > .card {
    display: flex;
    flex-direction: column;
    align-self: start;

    &:not(.big) {
      &.auto-height {
        flex: 0 1 auto !important;
        height: auto !important;
        min-height: 6 !important;
      }
    }

    & > .card-body {
      flex: 0 1 9.8rem;

      & > .card-body-overflow {
        height: auto;
        flex-wrap: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    & > .card-footer {
      flex: 0 1 2.4rem;
    }

    &.big {
      grid-column: 1 / -1;
    }
  }

  &.horizontal {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;

    & > .card:not(.big) {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      border-bottom: $border-width $border-style $gray-500;
      align-self: stretch;

      & > .card-header {
        width: 25%;
        height: 100%;
      }

      & > .card-body {
        flex-grow: 1;
        padding: 0;
        min-height: 3.5rem;
        padding-left: 0.5rem;
        width: 100%;
      }

      & > .card-progress {
        display: none;
      }

      & > .card-footer {
        min-width: 15%;
        height: 100%;
        border-left: 1px solid #a6a6a6;
      }
    }
  }
}
