$slider-size: 0.875rem;
$padding-switch: 0.3rem;
$border-size: $padding-switch / 2.5;
$switch-size-w: $slider-size * 1.5 + (($padding-switch + $border-size) * 4);
$transform: $switch-size-w / 2.5;
$unchecked-bg: hsl(0, 0%, 76%);
$checked-bg: $brand-primary;

input {
  accent-color: $checked-bg;
}

.toggle-switch {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  cursor: pointer;

  /* The switch - the box around the slider */
  .switch {
    display: inline-flex;
    cursor: pointer;
    border-radius: $slider-size * 2;
    background-color: $unchecked-bg;
    border: $border-size solid hsl(0, 0%, 60%);
    padding: $padding-switch;
    width: $switch-size-w;

    /* Hide default HTML checkbox */
    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: $checked-bg;

        &::before {
          transform: translateX($transform / 1.3);
        }
      }

      &:focus + .slider {
        box-shadow: 0 0 1px $checked-bg;
      }
    }

    /* The slider */
    .slider {
      &::before {
        content: '';
        display: flex;
        align-self: baseline;
        width: $slider-size;
        height: $slider-size;
        background-color: white;
      }

      &.round {
        &::before {
          border-radius: 50%;
        }
      }
    }

    &:has(input:checked) {
      background-color: $checked-bg;
    }
  }
}
