@import './icons';

[class^='icon-'],
[class*=' icon-'] {
  @extend %icon-font;
}

.bi::before,
[class^='bi-']::before,
[class*=' bi-']::before {
  @extend %icon-font;
  font-family: bootstrap-icons, sans-serif !important;
  font-weight: normal !important;
}

@each $name, $icon in $icons {
  .#{$name}::before {
    content: $icon;
    display: flex;
    align-items: center;
  }

  .#{$name}-after::after {
    content: $icon;
    display: flex;
    align-items: center;
  }
}

.icon-green {
  color: $success;
}

.icon-red {
  color: $danger;
}

.bi-caret-down-fill {
  font-size: 1rem;
}

.bi-caret-up-fill {
  font-size: 1rem;
}

.icon-spin {
  display: inline-block;
  animation: icon-spin 2s infinite linear;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.input-group {
  & i {
    font-size: inherit !important;
  }
}
