@import '../../assets/abstracts/mixins';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@include font-face('icon-font', '@/assets/fonts/fontello', 500, normal, eot svg ttf woff);

%icon-font {
  display: inline-block;
  font-family: 'icon-font', sans-serif !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  margin-top: 0;
  vertical-align: -0.125em !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  'icon-onderhoud': '\e800',
  'icon-folder-open': '\e804',
  'icon-folder': '\e805',
  'icon-doc-text': '\e806',
  'icon-lock': '\e822',
  'icon-lock-open': '\e823',
  'icon-download': '\e82d',
  'icon-upload': '\e82e',
  'icon-export': '\e830',
  'icon-left-open': '\e85b',
  'icon-right-open': '\e85c',
  'icon-check': '\e900',
  'icon-cross': '\e901',
  'icon-bolt': '\e902',
  'icon-calendar-check': '\e903',
  'icon-calendar-cross': '\e904',
  'icon-phone': '\e905',
  'icon-list-view': '\e906',
  'icon-column-view': '\e907',
  'icon-paper-plane': '\e908',
  'icon-envelope': '\e909',
  'icon-arrow-down': '\e90a',
  'icon-arrow-up': '\e90b',
  'icon-netwerk': '\e90c',
  'icon-chevron-down': '\e90d',
  'icon-chevron-up': '\e90e',
  'icon-briefcase': '\e90f',
  'icon-user': '\e910',
  'icon-menu': '\e911',
  'icon-broken': '\e912',
  'icon-search': '\e913',
  'icon-pencil': '\e914',
  'icon-plus': '\e915',
  'icon-chain': '\e916',
  'icon-support': '\e917',
  'icon-sort': '\e918',
  'icon-filter': '\f0b0',
  'icon-clipboard': '\f0ea',
  'icon-laptop': '\f109',
  'icon-terminal': '\f120',
  'icon-lock-open-alt': '\f13e',
  'icon-newspaper': '\f1ea',
  'icon-trash': '\f1f8',
  'icon-envelope-open-o': '\f2b7',
  'icon-window-maximize': '\f2d0',
  'icon-info-circled': '\f2d1',
  'icon-clipboard-1': '\e807',
  'icon-retweet': '\e808',
  'icon-refresh': '\e801'
);
