.card-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 0.6rem;

  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(1, 1fr);
  }

  & > .card {
    display: flex;
    flex-direction: column;

    & > .card-body {
      flex: 0 1 120px;
    }

    & > .card-footer {
      border-radius: 0;
      flex: 0 1 2.4rem;
    }

    &.big {
      grid-column: 1 / -1;

      & > .card-body {
        flex: 0 1 20rem;
      }
    }
  }

  &.horizontal {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;

    & > .card:not(.big) {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      border-bottom: $border-width $border-style $gray-500;

      & > .card-header {
        width: 25%;
        height: 100%;
      }

      & > .card-body {
        flex-grow: 1;
        padding: 0;
        min-height: 4rem;
        padding-left: 0.5rem;
        width: 100%;
      }

      & > .card-progress {
        display: none;
      }

      & > .card-footer {
        width: 15%;
        height: 100%;
        border-left: 1px solid #a6a6a6;
      }
    }
  }
}
