@import './variables';
@import 'bootstrap/scss/bootstrap';

@import './mixins/nth-child';

@import '../app/Dashboard/app';
@import '../app/Cards/styles/cards';

@import '../ui/Page/styles/page';
@import '../ui/List/description-list';
@import '../ui/Logo/logo';
@import '../ui/Icon/icon';

.bg-orange {
  background-color: $orange !important;
}

.clickable {
  cursor: pointer;
}

.bg-dark-gray {
  background-color: #111;
}
